@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @ViewData["FullUserName"]
    </div>

    <h1>
        Controlando el acceso en aplicaciones ASP.NET MVC
    </h1>

    <div>
        @Html.ActionLink("Mostrar Claims", "GetClaims")
    </div>

    <div>
        @Html.ActionLink("Mostrar Roles","GetUserRoles")
    </div>

    <div>
        @Html.ActionLink("Contenido para usuarios autenticados", "AuthenticatedUsers")
    </div>

    <div>
        @Html.ActionLink("Para Juan y Alejandra", "Payments")
    </div>

    <div>
        @Html.ActionLink("Para Administradores", "AdminUsers")
    </div>

    <div>
        @Html.ActionLink("Para Administradores y Recursos Humanos", "AdminAndRH")
    </div>

    <div>
        @Html.ActionLink("Iniciar sesión", "Login", "Account")
    </div>

    <div>
        @Html.ActionLink("Cerrar sesión", "LogOff", "Account")
    </div>

</body>
</html>
